.wbox {
    width: 12.5%;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: 50px;
    text-align: center;
}

.bbox {
    background-color: gray;
    width: 12.5%;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: 50px;
    text-align: center;
}
.board {
    width: calc(100vmin);
    height: calc(100vmin);
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    width: calc(100vmin);
}
body {
    width: 100vw;
    height: 100vh;
}